<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <AppSettings>

    <!--是否开机自启动，默认true -->
    <IsAutoStartup>true</IsAutoStartup>
    <!--命令输入框失去焦点后，是否自动隐藏主窗口，默认true -->
    <IsAutoHideForm>true</IsAutoHideForm>
    <!--搜索引擎Url-->
    <SearchUrl>https://www.google.com/search?q=${word}</SearchUrl>
    <!--浏览器路径-->
    <ExplorerPath></ExplorerPath>
    <!--是否开启语音识别-->
    <EnableSpeech>false</EnableSpeech>

  </AppSettings>

  <CommandSettings>

    <!--命令/网址信息-->
    <CommandInfos>
      <CommandInfo Command="cmd" ShortName="cmd" />
      <CommandInfo Command="cmd" ShortName="打开命令行" />
      <CommandInfo Command="calc" ShortName="cal" />
      <CommandInfo Command="taskmgr" ShortName="task" />
      <CommandInfo Command="control.exe" ShortName="ctrl" />
      <CommandInfo Command="http://www.baidu.com" ShortName="百度" />
      <CommandInfo Command="https://www.google.com/" ShortName="google" />
      <CommandInfo Command="https://www.google.com/" ShortName="打开谷歌" />
    </CommandInfos>

    <!--路径信息-->
    <PathInfos>
      <CommandInfo Command="C:\" ShortName="c" />
      <CommandInfo Command="D:\" ShortName="d" />
    </PathInfos>

  </CommandSettings>

</configuration>
